In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [11]:
data = pd.read_csv("jamb_exam_results.csv")

In [ ]:
# 1. Understanding the data

In [27]:
data.head()

,JAMB_Score,Study_Hours_Per_Week,Attendance_Rate,Teacher_Quality,Distance_To_School,School_Type,School_Location,Extra_Tutorials,Access_To_Learning_Materials,Parent_Involvement,IT_Knowledge,Student_ID,Age,Gender,Socioeconomic_Status,Parent_Education_Level,Assignments_Completed
0,192,22,78,4,12.4,Public,Urban,Yes,Yes,High,Medium,1,17,Male,Low,Tertiary,2
1,207,14,88,4,2.7,Public,Rural,No,Yes,High,High,2,15,Male,High,NaN,1
2,182,29,87,2,9.6,Public,Rural,Yes,Yes,High,Medium,3,20,Female,High,Tertiary,2
3,210,29,99,2,2.6,Public,Urban,No,Yes,Medium,High,4,22,Female,Medium,Tertiary,1
4,199,12,98,3,8.8,Public,Urban,No,Yes,Medium,Medium,5,22,Female,Medium,Tertiary,1

In [4]:
data.tail()

,JAMB_Score,Study_Hours_Per_Week,Attendance_Rate,Teacher_Quality,Distance_To_School,School_Type,School_Location,Extra_Tutorials,Access_To_Learning_Materials,Parent_Involvement,IT_Knowledge,Student_ID,Age,Gender,Socioeconomic_Status,Parent_Education_Level,Assignments_Completed
4995,183,20,74,2,10.6,Public,Urban,Yes,No,Low,Low,4996,16,Male,Medium,Primary,2
4996,179,0,80,2,20.0,Public,Rural,No,Yes,Medium,Medium,4997,22,Male,Low,Secondary,1
4997,261,17,89,3,11.3,Public,Urban,No,No,Low,High,4998,18,Male,Medium,Primary,3
4998,183,15,96,2,15.9,Public,Rural,No,No,Low,Medium,4999,18,Male,Medium,Secondary,1
4999,218,34,100,1,7.0,Public,Urban,Yes,Yes,Medium,Medium,5000,16,Female,High,NaN,2

In [5]:
data.shape

(5000, 17)

In [6]:
data.describe()

,JAMB_Score,Study_Hours_Per_Week,Attendance_Rate,Teacher_Quality,Distance_To_School,Student_ID,Age,Assignments_Completed
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,174.074600,19.521200,84.235200,2.521400,10.005460,2500.500000,18.445800,1.804600
std,47.616477,9.634569,9.485688,0.985564,4.820221,1443.520003,2.301504,0.992076
min,100.000000,0.000000,50.000000,1.000000,0.000000,1.000000,15.000000,1.000000
25%,135.000000,13.000000,78.000000,2.000000,6.600000,1250.750000,16.000000,1.000000
50%,170.000000,19.000000,84.000000,2.000000,10.000000,2500.500000,18.000000,1.000000
75%,209.000000,26.000000,91.000000,3.000000,13.400000,3750.250000,20.000000,2.000000
max,367.000000,40.000000,100.000000,5.000000,20.000000,5000.000000,22.000000,5.000000

In [7]:
data.columns

Index(['JAMB_Score', 'Study_Hours_Per_Week', 'Attendance_Rate',
       'Teacher_Quality', 'Distance_To_School', 'School_Type',
       'School_Location', 'Extra_Tutorials', 'Access_To_Learning_Materials',
       'Parent_Involvement', 'IT_Knowledge', 'Student_ID', 'Age', 'Gender',
       'Socioeconomic_Status', 'Parent_Education_Level',
       'Assignments_Completed'],
      dtype='object')

In [8]:
data.nunique

<bound method DataFrame.nunique of       JAMB_Score  Study_Hours_Per_Week  Attendance_Rate  Teacher_Quality  \
0            192                    22               78                4
1            207                    14               88                4
2            182                    29               87                2
3            210                    29               99                2
4            199                    12               98                3
...          ...                   ...              ...              ...
4995         183                    20               74                2
4996         179                     0               80                2
4997         261                    17               89                3
4998         183                    15               96                2
4999         218                    34              100                1

      Distance_To_School School_Type School_Location Extra_Tutorials  \
0                   12.4      Public           Urban             Yes
1                    2.7      Public           Rural              No
2                    9.6      Public           Rural             Yes
3                    2.6      Public           Urban              No
4                    8.8      Public           Urban              No
...                  ...         ...             ...             ...
4995                10.6      Public           Urban             Yes
4996                20.0      Public           Rural              No
4997                11.3      Public           Urban              No
4998                15.9      Public           Rural              No
4999                 7.0      Public           Urban             Yes

     Access_To_Learning_Materials Parent_Involvement IT_Knowledge  Student_ID  \
0                             Yes               High       Medium           1
1                             Yes               High         High           2
2                             Yes               High       Medium           3
3                             Yes             Medium         High           4
4                             Yes             Medium       Medium           5
...                           ...                ...          ...         ...
4995                           No                Low          Low        4996
4996                          Yes             Medium       Medium        4997
4997                           No                Low         High        4998
4998                           No                Low       Medium        4999
4999                          Yes             Medium       Medium        5000

      Age  Gender Socioeconomic_Status Parent_Education_Level  \
0      17    Male                  Low               Tertiary
1      15    Male                 High                    NaN
2      20  Female                 High               Tertiary
3      22  Female               Medium               Tertiary
4      22  Female               Medium               Tertiary
...   ...     ...                  ...                    ...
4995   16    Male               Medium                Primary
4996   22    Male                  Low              Secondary
4997   18    Male               Medium                Primary
4998   18    Male               Medium              Secondary
4999   16  Female                 High                    NaN

      Assignments_Completed
0                         2
1                         1
2                         2
3                         1
4                         1
...                     ...
4995                      2
4996                      1
4997                      3
4998                      1
4999                      2

[5000 rows x 17 columns]>

In [ ]:
# 2 Cleaning the data

In [9]:
data.isnull().sum

<bound method DataFrame.sum of       JAMB_Score  Study_Hours_Per_Week  Attendance_Rate  Teacher_Quality  \
0          False                 False            False            False
1          False                 False            False            False
2          False                 False            False            False
3          False                 False            False            False
4          False                 False            False            False
...          ...                   ...              ...              ...
4995       False                 False            False            False
4996       False                 False            False            False
4997       False                 False            False            False
4998       False                 False            False            False
4999       False                 False            False            False

      Distance_To_School  School_Type  School_Location  Extra_Tutorials  \
0                  False        False            False            False
1                  False        False            False            False
2                  False        False            False            False
3                  False        False            False            False
4                  False        False            False            False
...                  ...          ...              ...              ...
4995               False        False            False            False
4996               False        False            False            False
4997               False        False            False            False
4998               False        False            False            False
4999               False        False            False            False

      Access_To_Learning_Materials  Parent_Involvement  IT_Knowledge  \
0                            False               False         False
1                            False               False         False
2                            False               False         False
3                            False               False         False
4                            False               False         False
...                            ...                 ...           ...
4995                         False               False         False
4996                         False               False         False
4997                         False               False         False
4998                         False               False         False
4999                         False               False         False

      Student_ID    Age  Gender  Socioeconomic_Status  Parent_Education_Level  \
0          False  False   False                 False                   False
1          False  False   False                 False                    True
2          False  False   False                 False                   False
3          False  False   False                 False                   False
4          False  False   False                 False                   False
...          ...    ...     ...                   ...                     ...
4995       False  False   False                 False                   False
4996       False  False   False                 False                   False
4997       False  False   False                 False                   False
4998       False  False   False                 False                   False
4999       False  False   False                 False                    True

      Assignments_Completed
0                     False
1                     False
2                     False
3                     False
4                     False
...                     ...
4995                  False
4996                  False
4997                  False
4998                  False
4999                  False

[5000 rows x 17 columns]>

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   JAMB_Score                    5000 non-null   int64
 1   Study_Hours_Per_Week          5000 non-null   int64
 2   Attendance_Rate               5000 non-null   int64
 3   Teacher_Quality               5000 non-null   int64
 4   Distance_To_School            5000 non-null   float64
 5   School_Type                   5000 non-null   object
 6   School_Location               5000 non-null   object
 7   Extra_Tutorials               5000 non-null   object
 8   Access_To_Learning_Materials  5000 non-null   object
 9   Parent_Involvement            5000 non-null   object
 10  IT_Knowledge                  5000 non-null   object
 11  Student_ID                    5000 non-null   int64
 12  Age                           5000 non-null   int64
 13  Gender                        5000 non-null   object
 14  Socioeconomic_Status          5000 non-null   object
 15  Parent_Education_Level        4109 non-null   object
 16  Assignments_Completed         5000 non-null   int64
dtypes: float64(1), int64(7), object(9)
memory usage: 488.4+ KB

In [12]:
data.dropna(inplace = True)

In [13]:
data.columns

Index(['JAMB_Score', 'Study_Hours_Per_Week', 'Attendance_Rate',
       'Teacher_Quality', 'Distance_To_School', 'School_Type',
       'School_Location', 'Extra_Tutorials', 'Access_To_Learning_Materials',
       'Parent_Involvement', 'IT_Knowledge', 'Student_ID', 'Age', 'Gender',
       'Socioeconomic_Status', 'Parent_Education_Level',
       'Assignments_Completed'],
      dtype='object')

In [ ]:
# Relationship Analysis

In [15]:
sns.pairplot,(data)

(<function seaborn.axisgrid.pairplot(data, *, hue=None, hue_order=None, palette=None, vars=None, x_vars=None, y_vars=None, kind='scatter', diag_kind='auto', markers=None, height=2.5, aspect=1, corner=False, dropna=False, plot_kws=None, diag_kws=None, grid_kws=None, size=None)>,
       JAMB_Score  Study_Hours_Per_Week  Attendance_Rate  Teacher_Quality  \
 0            192                    22               78                4
 2            182                    29               87                2
 3            210                    29               99                2
 4            199                    12               98                3
 5            202                    25               85                2
 ...          ...                   ...              ...              ...
 4994         233                    19               81                3
 4995         183                    20               74                2
 4996         179                     0               80                2
 4997         261                    17               89                3
 4998         183                    15               96                2

       Distance_To_School School_Type School_Location Extra_Tutorials  \
 0                   12.4      Public           Urban             Yes
 2                    9.6      Public           Rural             Yes
 3                    2.6      Public           Urban              No
 4                    8.8      Public           Urban              No
 5                   13.6      Public           Urban             Yes
 ...                  ...         ...             ...             ...
 4994                 7.8      Public           Urban             Yes
 4995                10.6      Public           Urban             Yes
 4996                20.0      Public           Rural              No
 4997                11.3      Public           Urban              No
 4998                15.9      Public           Rural              No

      Access_To_Learning_Materials Parent_Involvement IT_Knowledge  Student_ID  \
 0                             Yes               High       Medium           1
 2                             Yes               High       Medium           3
 3                             Yes             Medium         High           4
 4                             Yes             Medium       Medium           5
 5                              No             Medium          Low           6
 ...                           ...                ...          ...         ...
 4994                           No                Low          Low        4995
 4995                           No                Low          Low        4996
 4996                          Yes             Medium       Medium        4997
 4997                           No                Low         High        4998
 4998                           No                Low       Medium        4999

       Age  Gender Socioeconomic_Status Parent_Education_Level  \
 0      17    Male                  Low               Tertiary
 2      20  Female                 High               Tertiary
 3      22  Female               Medium               Tertiary
 4      22  Female               Medium               Tertiary
 5      15    Male                  Low               Tertiary
 ...   ...     ...                  ...                    ...
 4994   22    Male               Medium              Secondary
 4995   16    Male               Medium                Primary
 4996   22    Male                  Low              Secondary
 4997   18    Male               Medium                Primary
 4998   18    Male               Medium              Secondary

       Assignments_Completed
 0                         2
 2                         2
 3                         1
 4                         1
 5                         1
 ...                     ...
 4994                      1
 4995                      2
 4996                      1
 4997                      3
 4998                      1

 [4109 rows x 17 columns])

In [10]:
import matplotlib.pyplot as plt
data = pd.read_csv("jamb_exam_results")

In [22]:
plt.scatter(data['Study_Hours_Per_Week'],data['Attendance_Rate'])

In [23]:
plt.title("Scatterplot")

Text(0.5, 1.0, 'Scatterplot')

In [24]:
plt.show()

In [25]:
plt.bar(data['Teacher_Quality'],data['Distance_To_School'])

In [26]:
plt.title("Bar Chart")

Text(0.5, 1.0, 'Bar Chart')

In [28]:
plt.xlabel('Teacher_Quality')
plt.ylabel('Distance_To_School')

Text(0, 0.5, 'Distance_To_School')

In [29]:
plt.show()

In [32]:
plt.hist(data['Assignments_Completed'])

(array([2534.,    0., 1353.,    0.,    0.,  735.,    0.,  312.,    0.,
          66.]),
 array([1. , 1.4, 1.8, 2.2, 2.6, 3. , 3.4, 3.8, 4.2, 4.6, 5. ]),
 <BarContainer object of 10 artists>)

In [33]:
plt.show()